# Introduccion a Pandas mediante el analisis de un archivo de precios inmuebles.
Este cuaderno muestra algunos ejercicios basicos sobre el uso de la libreria Pandas para la gesiton de datos.
## Importar base de datos

In [1]:
import pandas as pd
from nltk.corpus import state_union

rent_data = pd.read_csv('alquiler.csv', delimiter=';')

print(rent_data)

                          Tipo               Colonia  Habitaciones  Garages  \
0                     Cocineta               Condesa             1        0
1                         Casa               Polanco             2        0
2      Conjunto Comercial/Sala              Santa Fe             0        4
3                 Departamento      Centro Histórico             1        0
4                 Departamento             Del Valle             1        0
...                        ...                   ...           ...      ...
25116  Cochera/Estacionamiento      Centro Histórico             0        0
25117                 Cocineta      Centro Histórico             0        0
25118             Departamento               Mixcoac             2        1
25119             Departamento  Lomas de Chapultepec             2        0
25120  Conjunto Comercial/Sala      Centro Histórico             0        0

       Suites  Area    Valor  Condominio  Impuesto
0           0    40   5950.0      1750.0     210.0
1           1   100  24500.0         NaN       NaN
2           0   150  18200.0     14070.0    3888.5
3           0    15   2800.0      1365.0      70.0
4           0    48   2800.0       805.0       NaN
...       ...   ...      ...         ...       ...
25116       0   755  49000.0         NaN       NaN
25117       0    27   2800.0      1225.0      87.5
25118       0    48   4900.0      1781.5     129.5
25119       0    70  10500.0      2660.0       NaN
25120       0   250  22750.0     14721.0    3881.5

[25121 rows x 9 columns]

## Vista de algunos datos

In [3]:
# Visualizacion de los primeros y los ultimos datos
print(rent_data.head())
print(rent_data.tail())

                      Tipo           Colonia  Habitaciones  Garages  Suites  \
0                 Cocineta           Condesa             1        0       0
1                     Casa           Polanco             2        0       1
2  Conjunto Comercial/Sala          Santa Fe             0        4       0
3             Departamento  Centro Histórico             1        0       0
4             Departamento         Del Valle             1        0       0

   Area    Valor  Condominio  Impuesto
0    40   5950.0      1750.0     210.0
1   100  24500.0         NaN       NaN
2   150  18200.0     14070.0    3888.5
3    15   2800.0      1365.0      70.0
4    48   2800.0       805.0       NaN
                          Tipo               Colonia  Habitaciones  Garages  \
25116  Cochera/Estacionamiento      Centro Histórico             0        0
25117                 Cocineta      Centro Histórico             0        0
25118             Departamento               Mixcoac             2        1
25119             Departamento  Lomas de Chapultepec             2        0
25120  Conjunto Comercial/Sala      Centro Histórico             0        0

       Suites  Area    Valor  Condominio  Impuesto
25116       0   755  49000.0         NaN       NaN
25117       0    27   2800.0      1225.0      87.5
25118       0    48   4900.0      1781.5     129.5
25119       0    70  10500.0      2660.0       NaN
25120       0   250  22750.0     14721.0    3881.5

In [4]:
#Visualizando los primero 10 datos
print(rent_data.head(10))

                      Tipo           Colonia  Habitaciones  Garages  Suites  \
0                 Cocineta           Condesa             1        0       0
1                     Casa           Polanco             2        0       1
2  Conjunto Comercial/Sala          Santa Fe             0        4       0
3             Departamento  Centro Histórico             1        0       0
4             Departamento         Del Valle             1        0       0
5       Casa de Condominio          Santa Fe             5        4       5
6  Conjunto Comercial/Sala  Centro Histórico             0        3       0
7             Departamento  Centro Histórico             1        0       0
8             Departamento           Condesa             1        0       1
9                 Cocineta           Condesa             1        0       0

   Area     Valor  Condominio  Impuesto
0    40    5950.0      1750.0     210.0
1   100   24500.0         NaN       NaN
2   150   18200.0     14070.0    3888.5
3    15    2800.0      1365.0      70.0
4    48    2800.0       805.0       NaN
5   750   77000.0         NaN       NaN
6   695  122500.0     67175.5   10605.0
7    36    4200.0         NaN       NaN
8    40    7000.0      1963.5     175.0
9    27    6300.0      1753.5       NaN

In [5]:
# Muestra de una muestra de datos
print(rent_data.sample(10))

                          Tipo               Colonia  Habitaciones  Garages  \
24027  Conjunto Comercial/Sala      Centro Histórico             0        0
21175    Departamento en Hotel              Coyoacán             2        2
15210             Departamento              Coyoacán             3        2
683               Departamento             Del Valle             2        1
9013          Casa de Vecindad              Narvarte             3        3
5753              Departamento              Santa Fe             3        2
16059             Tienda/Salón  Santa Marta Acatitla             0        0
15510  Conjunto Comercial/Sala              Santa Fe             0       50
4951              Departamento              Coyoacán             1        1
22395             Departamento               Condesa             2        0

       Suites  Area     Valor  Condominio  Impuesto
24027       0    60    4200.0      2380.0     420.0
21175       2    80   19250.0      8400.0    1400.0
15210       1   117   22050.0      7700.0    1354.5
683         0    79    8050.0      2730.0     413.0
9013        1   300   17325.0       472.5     595.0
5753        1   145   15750.0      5250.0    1330.0
16059       0   160    2800.0         NaN       NaN
15510       0  1213  255500.0         NaN       NaN
4951        1   105   35000.0     10150.0    2450.0
22395       0    96    8750.0      3675.0    1190.0

In [6]:
# Imprimimos el tipo de datos de pandas
print(type(rent_data))

pandas.core.frame.DataFrame

## Caracteristicas generales de los datos
Exploracion inicial de los datos de la libreria pandas

In [8]:
# Tamaño del dataset
rent_data.shape

(25121, 9)

In [10]:
# Columnas del dataset
rent_data.columns

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [12]:
# Informacion general del dataset
rent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [17]:
# Vista de una columna
rent_data['Tipo']

0                       Cocineta
1                           Casa
2        Conjunto Comercial/Sala
3                   Departamento
4                   Departamento
                  ...
25116    Cochera/Estacionamiento
25117                   Cocineta
25118               Departamento
25119               Departamento
25120    Conjunto Comercial/Sala
Name: Tipo, Length: 25121, dtype: object

In [19]:
# Vista de dos columnas, ahora devuelve un dataframe
rent_data[['Habitaciones', 'Valor']]

       Habitaciones    Valor
0                 1   5950.0
1                 2  24500.0
2                 0  18200.0
3                 1   2800.0
4                 1   2800.0
...             ...      ...
25116             0  49000.0
25117             0   2800.0
25118             2   4900.0
25119             2  10500.0
25120             0  22750.0

[25121 rows x 2 columns]

## Ejercicios:
1. Importa el archivo alumnos.csv y almacena su contenido en un DataFrame de Pandas.

2. Visualiza las primeras 7 filas del DataFrame y las últimas 5.

3. Verifica la cantidad de filas y columnas en este DataFrame.

4. Explora las columnas del DataFrame y analiza los tipos de datos presentes en cada columna.

In [20]:
students_data = pd.read_csv('alumnos.csv')
print(students_data.head(7))
print(students_data.tail())
print(students_data.shape)

    Nombre  Edad  Nota Aprobado
0  Alberto    20   7.5     True
1      Ana    18   NaN    False
2   Camila    27   2.5    False
3    David    18   5.0    False
4    Brian    21  10.0     True
5    Bruna    23   NaN    False
6  Daniela    21   7.0     True
    Nombre  Edad  Nota   Aprobado
13  Miriam    25   9.0       True
14   Pablo    37   NaN      False
15  Milena    29   7.0       True
16   Lucas    33   NaN      False
17   Nadia    34   8.0  Verdadero
(18, 4)

In [21]:
print(students_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    18 non-null     object
 1   Edad      18 non-null     int64
 2   Nota      12 non-null     float64
 3   Aprobado  18 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 704.0+ bytes
None

In [22]:
# Datos generales numericos de la tabla
print(students_data.describe())

            Edad       Nota
count  18.000000  12.000000
mean   25.500000   6.841667
std     6.070662   2.264532
min    18.000000   2.500000
25%    21.000000   5.450000
50%    24.500000   7.000000
75%    28.750000   8.250000
max    37.000000  10.000000